/* PrismJS 1.14.0
http://prismjs.com/download.html#themes=prism-coy&languages=markup+css+clike+javascript+latex+matlab+python+r */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics) !important;
 * @author Tim  Shedor
 */

 /* From Colin: I am so sorry about all the !importants,
    but I had no other way to do this. */

code[class*="language-"],
pre[class*="language-"] {
	color: black !important;
	background: none !important;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
	text-align: left !important;
	white-space: pre !important;
	word-spacing: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	line-height: 1.5 !important;

	-moz-tab-size: 4 !important;
	-o-tab-size: 4 !important;
	tab-size: 4 !important;

	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	-ms-hyphens: none !important;
	hyphens: none !important;
}

/* Code blocks */
pre[class*="language-"] {
	position: relative !important;
	margin: .5em 0 !important;
	overflow: visible !important;
	padding: 0 !important;
}
pre[class*="language-"]>code {
	position: relative !important;
	border-left: 10px solid #358ccb !important;
	box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf !important;
	background-color: #fdfdfd !important;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%) !important;
	background-size: 3em 3em !important;
	background-origin: content-box !important;
	background-attachment: local !important;
}

code[class*="language"] {
	max-height: inherit !important;
	height: inherit !important;
	padding: 0 1em !important;
	display: block !important;
	overflow: auto !important;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #fdfdfd !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	margin-bottom: 1em !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	position: relative !important;
	padding: .2em !important;
	border-radius: 0.3em !important;
	color: #c92c2c !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	display: inline !important;
	white-space: normal !important;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
	content: '' !important;
	z-index: -2 !important;
	display: block !important;
	position: absolute !important;
	bottom: 0.75em !important;
	left: 0.18em !important;
	width: 40% !important;
	height: 20% !important;
	max-height: 13em !important;
	box-shadow: 0px 13px 8px #979797 !important;
	-webkit-transform: rotate(-2deg) !important;
	-moz-transform: rotate(-2deg) !important;
	-ms-transform: rotate(-2deg) !important;
	-o-transform: rotate(-2deg) !important;
	transform: rotate(-2deg) !important;
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
	right: 0.75em !important;
	left: auto !important;
	-webkit-transform: rotate(2deg) !important;
	-moz-transform: rotate(2deg) !important;
	-ms-transform: rotate(2deg) !important;
	-o-transform: rotate(2deg) !important;
	transform: rotate(2deg) !important;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7D8B99 !important;
}

.token.punctuation {
	color: #5F6364 !important;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #c92c2c !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #2f9c0a !important;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #a67f59 !important;
	background: rgba(255, 255, 255, 0.5) !important;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: #1990b8 !important;
}

.token.regex,
.token.important {
	color: #e90 !important;
}

.language-css .token.string,
.style .token.string {
	color: #a67f59 !important;
	background: rgba(255, 255, 255, 0.5) !important;
}

.token.important {
	font-weight: normal !important;
}

.token.bold {
	font-weight: bold !important;
}
.token.italic {
	font-style: italic !important;
}

.token.entity {
	cursor: help !important;
}

.namespace {
	opacity: .7 !important;
}

@media screen and (max-width: 767px) {
	pre[class*="language-"]:before,
	pre[class*="language-"]:after {
		bottom: 14px !important;
		box-shadow: none !important;
	}

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1 !important;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
	padding-left: 0 !important;
}

pre[class*="language-"].line-numbers code {
	padding-left: 3.8em !important;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
	left: 0 !important;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
}
pre[data-line] code {
	position: relative !important;
	padding-left: 4em !important;
}
pre .line-highlight {
	margin-top: 0 !important;
}
