body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1, h2, h3{
    margin:12px 0px 12px 0px;
}
h4{
    margin: 2px;
}
.container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.container div {
    flex: 1 1 15em;
    padding: 0px 20px 0px 20px;
}
.hidden{
    display:none;
}
.submitbutton{
    background-color: #00a;
    font-weight: bold;
    color: white;
    padding: 6px;
}
